<div class="container products-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Products</h1>
      <p>This is the products page.</p>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
      <ul class="nav navbar-nav">
        <li><a ui-sref="products.detail({id: 1, productName: 'LED Lights'})">LED Lights</a></li>
        <li><a ui-sref="products.detail({id: 2, productName: 'Lamp Lights'})">Lamp Lights</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ui-view></div>
    </div>
  </div>
</div>